<nav class="navbar navbar-light bg-light custom_nav">
  <span class="navbar-brand mb-0 h1 heading">Pizza</span>
</nav>
<div class="container">

  <div class="row bottom">
    <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4  item_space" *ngFor="let cols of list;let i of index">
      <div class="card custom_card"  >
        <img class="pizza" [src]=cols.img>
        <p class="status">Status: <select class="custom_dropdown" name="status" id="status">
            <option value="Order Received">Order Received</option>
            <option value="Preparing">Preparing</option>
            <option value="Ready to serve">Ready to serve</option>
          </select></p>
        <div class="center card-body" (click)="openModal(template,i)">
          <p class="name">Name:{{cols.Customer_name}}</p>
          <p class="other_detail">Qty :{{cols.qty}}</p>
          <p class="other_detail">Total:{{cols.total_amount}}</p>

        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header custom_nav">
    <h4 class="modal-title pull-left heading">Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let data of persionList">
      <p class="name">Customer Name :{{data.Customer_name}}</p>
      <p class="other_detail">Items Name:{{data.item_name}}</p>
      <p class="other_detail">Price:{{data.price}}</p>
      <p class="other_detail">Total Price:{{data.total_amount}}</p>
      <p class="other_detail">Delivery Address:{{data.address}}</p>
    </div>
  </div>
</ng-template>