.pizza{
    width: 50%;
    height: 117px;
    margin: auto;
}
.center{
    margin: 12px 0 0 22px;
    cursor: pointer;
}
.name{
    font-weight: 700;
}
.other_detail{
    font-weight: 600;
}
.status{
    font-weight: 600;
    margin: auto;
    margin-top: 5px;
}
.custom_dropdown{
    border: 1px solid #d0cccc;
    font-size: 13px;
    border-radius: 2px;
}
.bottom{
    margin-top: 44px;
}
.item_space{
    margin-top: 21px;
}
.custom_card{
    /* width: 18rem; */
    background-image: linear-gradient(white, #FF4500);
    box-shadow: 6px 10px 5px #cccaca;
}
.custom_card:hover{
    box-shadow: 6px 10px 5px gray; 
}
.custom_nav{
    background:#f55e31 !important;
}
.heading{
    color: white;
    font-weight: 800;
    margin: auto;
}
.modal-header {
    background:#f55e31 !important;
}